In [22]:
from sklearn import datasets
from sklearn import svm
iris = datasets.load_iris()
print(len(iris))
digits = datasets.load_digits()
digits.target
digits.data
digits.images[0]

6

array([[ 0.,  0.,  5., 13.,  9.,  1.,  0.,  0.],
       [ 0.,  0., 13., 15., 10., 15.,  5.,  0.],
       [ 0.,  3., 15.,  2.,  0., 11.,  8.,  0.],
       [ 0.,  4., 12.,  0.,  0.,  8.,  8.,  0.],
       [ 0.,  5.,  8.,  0.,  0.,  9.,  8.,  0.],
       [ 0.,  4., 11.,  0.,  1., 12.,  7.,  0.],
       [ 0.,  2., 14.,  5., 10., 12.,  0.,  0.],
       [ 0.,  0.,  6., 13., 10.,  0.,  0.,  0.]])

In [26]:
clf = svm.SVC(gamma=0.001, C=100.)
clf
clf.fit(digits.data[:-1], digits.target[:-1])  
clf.predict(digits.data[-1:])

array([8])

In [28]:
import pandas as pd
import numpy as np

In [35]:
url = ('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv')
url
tips = pd.read_csv(url)
tips.shape

(244, 7)

In [38]:
#select total_bill, tip, smoker, timw from tips limit 5
tips[['total_bill','tip','smoker','time']].head()

   total_bill   tip smoker    time
0       16.99  1.01     No  Dinner
1       10.34  1.66     No  Dinner
2       21.01  3.50     No  Dinner
3       23.68  3.31     No  Dinner
4       24.59  3.61     No  Dinner

In [63]:
#select * from tips where time = 'Dinner' limit 5
tips[tips['time'] == 'Dinner'].describe()

       total_bill         tip        size
count  176.000000  176.000000  176.000000
mean    20.797159    3.102670    2.630682
std      9.142029    1.436243    0.910241
min      3.070000    1.000000    1.000000
25%     14.437500    2.000000    2.000000
50%     18.390000    3.000000    2.000000
75%     25.282500    3.687500    3.000000
max     50.810000   10.000000    6.000000

In [61]:
is_dinner = tips['time'] == 'Dinner'
is_dinner.value_counts()
tips['total_bill'].max()

50.81

In [66]:
#select * from tips where time = 'Dinner' and tip > 5
tips[(tips['time'] == 'Dinner' ) & (tips['tip'] < 5)]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[155 rows x 7 columns]

In [68]:
# select * From Tips where size >= 5 OR Total_bill > 45
tips[(tips['size'] <5) & (tips['total_bill'] > 45)]

     total_bill    tip   sex smoker  day    time  size
59        48.27   6.73  Male     No  Sat  Dinner     4
170       50.81  10.00  Male    Yes  Sat  Dinner     3
182       45.35   3.50  Male    Yes  Sun  Dinner     3
212       48.33   9.00  Male     No  Sat  Dinner     4